<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ site.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ site.description }}" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content="{{ site.title }}"/>
	<meta property="og:image" content="{{ site.url }}/images/cover_bg_2.jpeg"/>
	<meta property="og:url" content="{{ site.url }}"/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content="{{ site.description }}"/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="images/favicon.ico">

	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">
	
	<style>
		body {
			--primary-color: #{{site.primary}};
			--primary-hover-color: #{{site.primary_hover}};
			--color-1: #{{site.color_1}};
			--color-2: #{{site.color_2}};
			--color-3: #{{site.color_3}};
			--color-4: #{{site.color_4}};
			--color-5: #{{site.color_5}};
			--color-6: #{{site.color_6}};
		}
	</style>

	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="css/flexslider.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<!-- 사이드바 -->
	<div id="colorlib-page">
		<div class="container-wrap">
		<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
		<aside id="colorlib-aside" role="complementary" class="border js-fullheight">
			<div class="text-center">
				<div class="author-img" style="background-image: url( {{ site.profile_image }} );"></div>	<!-- 프로필 이미지 -->
				<h1 id="colorlib-logo"><a href="index.html">{{ site.name }}</a></h1>
				<span class="position"><a href="#">{{ site.description }}</a></span>
			</div>
			<nav id="colorlib-main-menu" role="navigation" class="navbar">
				<div id="navbar" class="collapse">
					<ul>
						<li class="active"><a href="#" data-nav-section="home">Home</a></li>
						<li><a href="#" data-nav-section="about">About</a></li>
						<li><a href="#" data-nav-section="skills">Tech Skills</a></li>
						<li><a href="#" data-nav-section="work">Project</a></li>
						<li><a href="#" data-nav-section="services">Experience</a></li>
						<li><a href="#" data-nav-section="experience">Career</a></li>
						<li><a href="#" data-nav-section="education">Education</a></li>
						<li><a href="#" data-nav-section="blog">Blog</a></li>
						<li><a href="#" data-nav-section="contact">Contact</a></li>
					</ul>
				</div>
			</nav>

			<div class="colorlib-footer">
				<ul>
					<li><a href="https://www.facebook.com/{{ site.facebook_id }}">Facebook<i class="icon-facebook2"></i></a></li>
					<!-- <li><a href="#"><i class="icon-twitter2"></i></a></li> -->
					<li><a href="https://www.instagram.com/{{ site.instagram_id }}">Instagram<i class="icon-instagram"></i></a></li>
					
				</ul>
			</div>

		</aside>

		<div id="colorlib-main">
			<section id="colorlib-hero" class="js-fullheight" data-section="home">
				<div class="flexslider js-fullheight">
					<ul class="slides">
						{%- for slider in site.slider_0 -%}
							<li style="background-image: url( {{ slider.background_url }} );">	<!-- 메인 첫번째 슬라이드 이미지 -->
								<div class="overlay"></div>
								<div class="container-fluid">
									<div class="row">
										<div class="col-md-10 col-md-offset-7 col-md-pull-1 col-sm-20 col-xs-20 js-fullheight slider-text"> <!--col-sm:모바일,col-xs:테블릿-->
											<div class="slider-text-inner js-fullheight">
												<div class="desc"style='float: left;'>
													<h1>{{ slider.title }}</h1>	<!-- 메인 첫번째 슬라이드 이미지의 인사말 에니메이션 효과 -->
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
                        {%- endfor -%}
						{%- for slider in site.slider_1 -%}
							<li style="background-image: url( {{ slider.background_url }} );">  <!-- 메인 두번째 슬라이드 이미지 -->
								<div class="overlay"></div>
								<div class="container-fluid">
									<div class="row">
										<div class="col-md-6 col-md-offset-3 col-md-pull-3 col-sm-12 col-xs-12 js-fullheight slider-text">
											<div class="slider-text-inner">
												<div class="desc">
													<h1 style='color:white;'>{{ slider.title }}</h1>   <!-- 메인 두번째 슬라이드 이미지의 소개말 에니메이션 효과 -->
													<h2 style='color:white;'>{{ slider.subtitle }}</h2>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
                        {%- endfor -%}
				  	</ul>
			  	</div>
			</section>

			<!-- About -->	
			<section class="colorlib-about" data-section="about">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-12">
							<div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="col-md-12">
									<div class="about-desc">
										<span class="heading-meta">{{ site.about_meta }}</span>
										<h2 class="colorlib-heading">{{ site.about_header }}</h2>
										<p><strong>{{ site.about_introduce }}</strong></p> 
										<p>{{ site.about_content }}</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3 animate-box" data-animate-effect="fadeInLeft">
									<div class="services color-1">
										<span class="icon2"><i class="{{ site.about_services[0].icon | default: 'icon-data' }}"></i></span>
										<h3>{{ site.about_services[0].name }}</h3>
									</div>
									
								</div>
								<div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
									<div class="services color-2">
										<span class="icon2"><i class="{{ site.about_services[1].icon | default: 'icon-data' }}"></i></span>
										<h3>{{ site.about_services[1].name }}</h3>
									</div>
								</div>
								<div class="col-md-3 animate-box" data-animate-effect="fadeInTop">
									<div class="services color-3">
										<span class="icon2"><i class="{{ site.about_services[2].icon | default: 'icon-data' }}"></i></span>
										<h3>{{ site.about_services[2].name }}</h3>
									</div>

								</div>
								<div class="col-md-3 animate-box" data-animate-effect="fadeInBottom">
									<div class="services color-4">
										<span class="icon2"><i class="{{ site.about_services[3].icon | default: 'icon-data' }}"></i></span>
										<h3>{{ site.about_services[3].name }}</h3>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
									<div class="hire">
										<h3>{{ site.about_box_content }}</h3>
										<a href="{{ site.about_box_button.link | default: '#' }}" onclick="return false;" class="btn-hire">{{ site.about_box_button.name }}</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- Tech skills -->	
			<section class="colorlib-skills" data-section="skills">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta">{{ site.tech_meta }}</span>
							<h2 class="colorlib-heading animate-box">{{ site.tech_header }}</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
							<p>{{ site.tech_content }}</p>
							<br>
						</div>
						{%- for tech in site.tech_list -%}
							<div class="col-md-6 animate-box" data-animate-effect="{{ tech.animation }}">
								<div class="progress-wrap">
									<h3><strong>{{ tech.name }}</strong></h3>
									<div class="progress">
										<div class="progress-bar {{ tech.color | default: "color-1" }}" role="progressbar" aria-valuenow="{{ tech.mark }}"
										aria-valuemin="0" aria-valuemax="100" style="width: {{ tech.mark }}%">
										<span>{{ tech.percent }}%</span>
										</div>
									</div>
									{{ tech.content }}
								</div>
							</div>
							{{ e.title }}
                        {%- endfor -%}
					</div>
					<br>
					<br>
					<div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
						<p>{{ site.tech_desc }}</p>
					</div>
				</div>
			</section>

			<!-- Project -->	
			<section class="colorlib-work" data-section="work">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta">{{ site.project_meta }}</span>
							<h2 class="colorlib-heading animate-box">{{ site.project_header }}</h2>
						</div>
					</div>
					<div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeInLeft">
						<div class="col-md-12">
							<section>
							<p class="work-menu">{{ site.project_introduce }}</p>
							</section>
							<!-- <p class="work-menu"><span><strong><a href="http://www.jangcar.co.kr" target="_blank" class="active">개인 프로젝트</a></strong></span> <span><strong><a href="https://www.personalconnect.co.kr" target="_blank" class="active">팀 프로젝트</a></strong></span><span><strong><a href="http://www.riceplanner.com" target="_blank" class="active">청춘정미소</a></strong></span> <span><strong>Web Project</strong></span> <span> --><!-- <a href="#">Software</a></span> <span><a href="#">Apps</a></span></p> -->
						</div>
					</div>

					<div class="animate-box" data-animate-effect="fadeInTop">
					<strong>{{ site.project_my_name }}</strong>
					<hr>
					</div>	
					<div class="row">
						{% for proj in site.project_my %}
							<div class="col-md-6 animate-box" data-animate-effect="{{ proj.animation }}">
								<div class="project" style="background-image: url({{ proj.background_url }});">
									<div class="desc">
										<div class="con">
											<h3><a href="#" target="_blank" >{{ proj.name }}</a></h3>
											<span>{{ proj.description }}</span>
											<p class="icon">
												<!-- <span><a href="#"><i class="icon-share3"></i></a></span> -->
												<span><a href="{{ proj.detail_url | default: "#" }}" target="_blank" ><i class="icon-eye"></i> detail</a></span>
												<span><a href="{{ proj.readmore_url | default: "#" }}" target="_blank"><i class="icon-file"></i> 구현 기능 상세보기</a></span>
											</p>
										</div>
									</div>
								</div>
							</div>
                        {% endfor %}
					</div>

					<div class="animate-box" data-animate-effect="fadeInTop">
					<strong>{{ site.project_team_name }}</strong>
					<hr>
					</div>
					<div class="row">
						{% for proj in site.project_team %}
							<div class="col-md-6 animate-box" data-animate-effect="{{ proj.animation }}">
								<div class="project" style="background-image: url({{ proj.background_url }});">
									<div class="desc">
										<div class="con">
											<h3><a href="#" target="_blank">{{ proj.name }}</a></h3>
											<span>{{ proj.description }}</span>
											<p class="icon">
												<!-- <span><a href="#"><i class="icon-share3"></i></a></span> -->
												<span><a href="{{ proj.detail_url | default: "#" }}" target="_blank" ><i class="icon-eye"></i> detail</a></span>
												<span><a href="{{ proj.readmore_url | default: "#" }}" target="_blank"><i class="icon-file"></i> 구현 기능 상세보기</a></span>
											</p>
										</div>
									</div>
								</div>
							</div>
                        {% endfor %}
					</div>

				
					<div class="animate-box" data-animate-effect="fadeInTop">
					<strong>{{ site.project_business_name }}</strong>
					<hr>
					</div>
					<div class="row">
						{% for proj in site.project_business %}
							<div class="col-md-6 animate-box" data-animate-effect="{{ proj.animation }}">
								<div class="project" style="background-image: url({{ proj.background_url }});">
									<div class="desc">
										<div class="con">
											<h3><a href="#" target="_blank">{{ proj.name }}</a></h3>
											<span>{{ proj.description }}</span>
											<p class="icon">
												<!-- <span><a href="#"><i class="icon-share3"></i></a></span> -->
												<span><a href="{{ proj.detail_url | default: "#" }}" target="_blank" ><i class="icon-eye"></i> detail</a></span>
												<span><a href="{{ proj.readmore_url | default: "#" }}" target="_blank"><i class="icon-file"></i> 구현 기능 상세보기</a></span>
											</p>
										</div>
									</div>
								</div>
							</div>
                        {% endfor %}
						

					<div class="row">
						<div class="col-md-12 animate-box">
							<p><a href="{{ site.blog_load_more_url | default: '#'}}" onclick="return false;" class="btn btn-primary btn-lg btn-load-more"> {{ site.project_load_more }}</a></p>
						</div>
					</div>
				</div>
			</section>

			<!-- Experience -->	
			<section class="colorlib-services" data-section="services">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta">{{ site.exp_meta }}</span>
							<h2 class="colorlib-heading">{{ site.exp_header }}</h2>
						</div>
					</div>
					<div class="animate-box" data-animate-effect="fadeInTop">
						<p><strong>{{ site.exp_content}}</strong></p>
					</div>

					<div class="row row-pt-md">
						{% for service in site.exp_services %}
							<div class="col-md-4 text-center animate-box">
								<div class="services {{ service.color }}">
									<span class="icon">
										<i class="{{ service.icon }}"></i>
									</span>
									<div class="desc">
										<h3>{{ service.name }}</h3>
										<p>{{ service.content }}</p>
									</div>
								</div>
							</div>
                        {% endfor %}
					</div>
				</div>
			</section>
			
			<div id="colorlib-counter" class="colorlib-counters" style="background-image: url(images/cover_bg_5.jpeg);" data-stellar-background-ratio="0.5">
				<div class="overlay"></div>
				<div class="colorlib-narrow-content">
					<div class="row">
					</div>
					<div class="row">
						{% for counter in site.exp_counters %}
							<div class="col-md-3 text-center animate-box">
								<span class="colorlib-counter js-counter" data-from="0" data-to="{{ counter.count }}" data-speed="{{ counter.speed }}" data-refresh-interval="50"></span>
								<span class="colorlib-counter-label">{{ counter.name }}</span>
							</div>
                        {% endfor %}
					</div>
				</div>
			</div>

			<!-- Career -->				
			<section class="colorlib-experience" data-section="experience">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta">{{ site.carerr_meta }}</span>
							<h2 class="colorlib-heading animate-box">{{ site.carerr_header }}</h2>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
				         <div class="timeline-centered">
							{% for career in site.career_list %}
								<article class="timeline-entry animate-box" data-animate-effect="{{ career.animation }}"> <!-- 왼쪽에서 -->	
									<div class="timeline-entry-inner">

									<div class="timeline-icon {{ career.color | default: "color-1" }}">
										<i class="{{ career.icon }}"></i>
									</div>

									<div class="timeline-label">
										<h2><a href="#" target="_blank">{{ career.name }} </a> <span>{{ career.date }}</span></h2>
										<p>{{ career.content }}</p>
									</div>
									</div>
								</article>
							 {% endfor %}

					         <article class="timeline-entry begin animate-box" data-animate-effect="fadeInBottom">
					            <div class="timeline-entry-inner">
					               <div class="timeline-icon color-none">
					               </div>
					            </div>
					         </article>
					      </div>
					   </div>
				   </div>
				</div>
			</section>

			<section class="colorlib-education" data-section="education">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta">{{ site.edu_meta }}</span>
							<h2 class="colorlib-heading animate-box">{{ site.edu_header }}</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
							<div class="fancy-collapse-panel">
								<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
									{% for edu in site.edu_list %}
										<div class="panel panel-default">
											<div class="panel-heading" role="tab" id="edu_heading_{{forloop.index}}">
												<h4 class="panel-title">
													{% if forloop.first %}
														<a data-toggle="collapse" data-parent="#accordion" href="#edu_collapser_{{forloop.index}}" aria-expanded="true" aria-controls="edu_collapser_{{forloop.index}}">
															{{ edu.title }}
														</a>
													{% else %}
														<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#edu_collapser_{{forloop.index}}" aria-expanded="false" aria-controls="edu_collapser_{{forloop.index}}">
															{{ edu.title }}
														</a>
													{% endif %}
												</h4>
											</div>
											{% if forloop.first %}
											<div id="edu_collapser_{{forloop.index}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="edu_heading_{{forloop.index}}">
											{% else %}
											<div id="edu_collapser_{{forloop.index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="edu_heading_{{forloop.index}}">
											{% endif %}
												<div class="panel-body">
													<div class="row">
														<div class="col-md-4">
															<p>
																{{ edu.subtitle }}
																<br>
																{{ edu.date }}
															</p>
														</div>
														<div class="col-md-8">
															<p>{{ edu.content }}</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									{% endfor %}

								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			

			
			<section class="colorlib-blog" data-section="blog">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta">{{ site.blog_meta }}</span>
							<h2 class="colorlib-heading">{{ site.blog_header }}</h2>
						</div>
					</div>
					<div class="row">
						{% for blog in site.blog_list %}
							<div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
								<div class="blog-entry">
									<a href="{{ blog.link | default: '#'}}" target="_blank" class="blog-img"><img src="{{ blog.thumbnail_url }}" class="img-responsive" alt="HTML5 Bootstrap Template by colorlib.com"></a>
									<div class="desc">
										<span><small>since {{ blog.date }} </small> | <small> {{ blog.subtitle }}</small> </span>
										<h3><a href="{{ blog.link | default: '#'}}" target="_blank">{{ blog.title }}</a></h3>
										<p>{{ blog.content }}</p>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
					<div class="row">
						<div class="col-md-12 animate-box">
							<p><a href="{{ site.blog_load_more_url | default: '#'}}" onclick="return false;" class="btn btn-primary btn-lg btn-load-more">{{ site.blog_load_more }}</a></p>
						</div>
						{% include youtubeplayer.html id=site.youtube_vid %}
					</div>
				</div>
			</section>

			<section class="colorlib-contact" data-section="contact">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta">{{ site.contact_meta }}</span>
							<h2 class="colorlib-heading">{{ site.contact_header }}</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							{% for contact in site.contact_list %}
							<div class="colorlib-feature colorlib-feature-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="colorlib-icon">
									<i class="{{ contact.icon }}"></i>
								</div>
								<div class="colorlib-text">
									<p>
										{% if contact.url %}
											<a href="{{ contact.url | default: '#' }}" target="_blank">{{ contact.title }}</a>
										{% else %}
											{{ contact.title }}
										{% endif %}
									</p>
								</div>
							</div>
							{% endfor %}

						</div>
						<div class="col-md-7 col-md-push-1">
							<div class="row">
								<div class="col-md-10 col-md-offset-1 col-md-pull-1 animate-box" data-animate-effect="fadeInRight">
									<form id="gform" method="POST" action="">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="성함" name="name">
										</div>
										<div class="form-group">
											<input type="text" class="form-control" placeholder="회신 받을 Email" name="email">
										</div>
										<div class="form-group">
											<input type="text" class="form-control" placeholder="제목" name="title">
										</div>
										<div class="form-group">
											<textarea name="message" id="message" cols="30" rows="7" class="form-control" placeholder="내용" ></textarea>
										</div>
										<!-- <div class="form-group">
											<input type="submit" id="mail" class="btn btn-primary btn-send-message" value="Send Message">
										</div> -->
										<div class="form-group">
											<input type="button" onclick="mailSend();" class="btn btn-primary btn-send-message" value="Send Message">
										</div>
								
										<div class="thankyou_message" style="display:none;" id="thankyou_message">
											<h3>{{ site.contact_message }}</h3>
										</div>
									</form>
								</div>
								
							</div>
						</div>
					</div>
				</div>
				
			</section>


		</div><!-- end:colorlib-main -->
	</div><!-- end:container-wrap -->
	</div><!-- end:colorlib-page -->

	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="js/jquery.flexslider-min.js"></script>
	<!-- hyunew carousel -->
	<script src="js/hyunew.carousel.min.js"></script>
	<!-- Counters -->
	<script src="js/jquery.countTo.js"></script>
	<!-- mail -->
	<script data-cfasync="false" type="text/javascript"
	src="https://cdn.rawgit.com/dwyl/html-form-send-email-via-google-script-without-server/master/form-submission-handler.js"></script>

	<script type="text/javascript">
        // $(function () {
        //     $('#mail').submit(function (e) {
        //         e.preventDefault();
        //         var input = confirm('감사합니다. 곧 회신드리도록 하겠습니:)');
        //     });
        // });
        function createData() { 
        var sendData = $('#gform').serialize(); 
        return sendData;
	     }
	     function mailSend(){
	      $.ajax({
	         type : "POST",
	         url : "https://script.google.com/macros/s/AKfycbz-frwBTGvIeei6eC125WczGVfQwFRHrCiw5veAUA/exec",
	         data : createData(),
	         datatype:"json",
	         success : function(data, status, xhr){
	            var input = confirm('연락주셔서 영광입니다. 24시간 이내에는 꼭 회신드리도록 하겠습니다! :)');
	         },
	         error : function(jqXHR, textStatus, errorThrown){
	         	console.log("error")
	            //여기는 메일이 안보내졌을 때 발생하는 문제가 있을 때 인것 같아요
	         }
	      });  
	     }

	 //    $("a").bind("click", function(e) {
		//     e.preventDefault();
		//     var id = $(this).data("section");
		//       $("#content section:visible").fadeOut();
		//       $(id).fadeIn();
		// });
    </script>
	
	<!-- MAIN JS -->
	<script src="js/main.js"></script>

	</body>
</html>

